<script src="./js/class/Stack.js"></script>
<script src="./js/class/Queue.js"></script>
<script src="./js/class/Linked_list.js"></script>
<script src="./js/class/Hash_table.js"></script>
<script src="./js/class/Binary_search_tree.js"></script>
<script src="./js/class/Binary_max_heap.js"></script>
<script src="./js/class/Graph.js"></script>
<script src="./js/animate.js" ></script>
<link rel="stylesheet" href="./css/data.css">

<style>
  .main-display{display: flex;flex-direction: column;position: relative;height: 100vh;}
  .data-display{height: 70vh;display: flex;position: relative;}
  .data-control{margin:0 10px}
  .main-display .data-control input{margin: 3px 3px;}
  .main-display .data-control button{margin: 2px 0;}
  
</style>
<div class="main-display">
  <div class="data-control">
    <%-include("./data_control",{dataType:datapage})%>
  </div>
  <div class="data-display">
    <%-include("./data_display",{dataType:datapage})%>
  </div>
</div>
<script>
  
</script>
<script src="./js/data.js"></script>















