<script src="./js/class/Dijkstra.js"></script>
<link rel="stylesheet" href="./css/algo.css">

<style>
  .main-display{display: flex;flex-direction: column;position: relative;height: 100vh;}
  .algo-display{height: 70vh;display: flex;position: relative;}
  .algo-control{margin:0 10px}
  .main-display .algo-control input{margin: 3px 3px;}
  .main-display .algo-control button{margin: 2px 0;}
  
</style>
<div class="main-display">
  <div class="algo-control">
    <%-include("./algo_control",{dataType:datapage})%>
  </div>
  <div class="algo-display">
    <%-include("./algo_display",{dataType:datapage})%>
  </div>
</div>
<script>
  
</script>
<script src="./js/algo.js"></script>















